<section class="chat-room-content" >
     <div>
       <div>
           <h2 class="hero-title">{{ selectedRoom }}</h2>
       </div>
       <table>
         <tr ng-repeat="message in messages">
           <td>
             <span class="time">{{ message.sentAt }}</span>
           </td>
           <td>
             <span class="username">{{ message.username }} : </span>
           </td>
           <td>
              <span class="content">{{ message.content }}</span>
           </td>
        </tr>
      </table>
    </div>
    <div>
    <form>
        <input type="text" placeholder="Message {{selectedRoom}}" class="form-control" ng-model="newMessage">
      <button class="btn btn-success" type="button" ng-click="roomList.sendMessage()">Send</button>
    </form>
</div>
 </section>
